__pycache__/
*.py[cod]
*$py.class

cipher_edge/.venv/
.venv/
venv/
ENV/
env/
.env
cipher_edge/config/secrets.ini
cipher_edge_data.db

logs/
*.log
cipher_edge/logs/ 

.vscode/
.idea/
*.project
*.classpath
*.cproject
.project
*.launch
.settings/
*.sublime-workspace
*.sublime-project

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints

.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

*.swp
*~
tests/
.venv